<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="CustomerId" value="3f65448f-7646-48e3-9b17-c7896b7af4ec"/>
    <add key="SharedKey" value="A4lzNXxH5dC/kxfJB4CCZ36S09ZGq+kL8ijL7t0GabL0lzl6lTwtVt683Vr0j8VQ172IjdKxUr5GBe8Yi37PIg=="/>
    <add key="UpdateIntervalInSeconds" value="60"/>
    <add key="SimulateDataSend" value="0"/>
    <add key="UseProxy" value="0"/>
    <add key="ProxyUri" value="127.0.0.1:8088"/>
    <add key="ProxyNeedAuthentication" value="0"/>
    <add key="ProxyUserName" value="ProxyUserName"/>
    <add key="ProxyPassword" value="ProxyUserPassword"/>
    <add key="UseHashesInsteadUserNames" value="0"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
